<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6zg-FeuOa33zd3lTEysRcoBI_0C304zU</string>
	<key>GCM_SENDER_ID</key>
	<string>1068038229245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soft305.linkup</string>
	<key>PROJECT_ID</key>
	<string>link-up-305soft</string>
	<key>STORAGE_BUCKET</key>
	<string>link-up-305soft.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068038229245:ios:0fa3cc0c249c807417c294</string>
</dict>
</plist>